.greeting {
    display: flex;
    justify-content: center;
}


.mat-column-title {
  width: 40%;
}

.mat-column-createDate {
  width: 40%;
}
.mat-column-studentsCount {
  width: 20%;
}

.content {
  margin-top: 1.3rem;
}