<ng-container *ngIf="(groups$ | async) as groups">
    <ng-template *ngIf="groups.data.length > 0;else greeting">
        <table mat-table [dataSource]="groups.data">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Название</th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef>Дата создания</th>
                <td mat-cell *matCellDef="let element"> {{element.createDate | date: 'dd/MM/YYYY H:mm'}}</td>
            </ng-container>
            <ng-container matColumnDef="studentsCount">
                <th mat-header-cell *matHeaderCellDef>Количество учеников</th>
                <td mat-cell *matCellDef="let element"> {{element.studentsCount}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
            [length]="groups.count" 
            [pageSizeOptions]="[5,10]"
            (page)="changePage($event)"></mat-paginator>
    </ng-template>
</ng-container>

<ng-template #greeting>
    <div class="greeting">
        <h3>Здесь будут отображаться ваши группы</h3>
    </div>
</ng-template>
<spinner *ngIf="isLoading$ | async"></spinner>