.header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
}
  
th.mat-header-cell {
  text-align: center !important;
}

td.mat-cell {
  text-align: center !important;
}

.commonInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2,h3,h4 {
  color: #3f51b5
}

.students {
  display: flex;
  justify-content: center;
}

tr[mat-row] {
  cursor: pointer;
  &:hover{
      background: whitesmoke;
  }
}
.changeButton {
  justify-content: center;
  display: flex;
  margin-bottom: 0.7rem;
    button {
      width: 10vw;
    }
}
.manageButton {
  justify-content: right;
  display: flex;
  button {
    margin: .5rem;
  }
}
