table {
    width: 100%;
}

.header{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

tr[mat-row] {
    cursor: pointer;
    &:hover{
        background: whitesmoke;
    }
}