.header {
    display: flex;
    justify-content: center;
    padding: .4rem;
}
.tab-group {
    margin-top: 1.5rem;
}

.common-info-content{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem
}
