table {
  width: 100%;
}
.table-container{
  position: relative;
  min-height: 200px;
  max-height: 50vh;
  overflow: auto;
}

tr[mat-row] {
  cursor: pointer;
  &:hover{
      background: whitesmoke;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  button {
    align-self: center;
  }
  .filter {
    margin-bottom: .5rem;
    width: 20vw;
    
    mat-form-field{
      width: 15vw;
    }

    &.content {
      display: flex;
      flex-direction: column;

      .actions {
        margin-top: .5rem;
        button {
          margin-right: 1rem;
        }
      }
    }
  }
}

.actionButton {
  width: 9rem;
}
