<ng-container *ngIf="(managedUsers$ | async) as users">
    <div class="header">
        <mat-accordion class="filter">
           <mat-expansion-panel>
               <mat-expansion-panel-header>
                   Фильтр
               </mat-expansion-panel-header>
                   <form [formGroup]="form" (ngSubmit)="applyFilter()" class="filter content">
                       <mat-form-field appearance="standard">
                           <mat-label>Имя</mat-label>
                           <input matInput formControlName="name">
                       </mat-form-field>
                       <mat-form-field appearance="standard">
                           <mat-label>Фамилия</mat-label>
                           <input matInput formControlName="surname">
                       </mat-form-field>
                       <mat-form-field appearance="standard">
                           <mat-label>Логин</mat-label>
                           <input matInput formControlName="login">
                       </mat-form-field>
   
                       <mat-checkbox formControlName="isOnlyActive">Только активные</mat-checkbox>
                       <div class="actions">
                            <button mat-stroked-button color="primary" (click)="applyFilter()" type="submit">Искать</button>
                            <button mat-stroked-button color="primary" (click)="clearForm()">Очистить</button>
                       </div>
                   </form>  
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-stroked-button color="primary" (click)="createUser()"><i class="fa fa-plus"></i> Создать</button>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="users.data" class="table">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Имя</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef>Фамилия</th>
                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
            </ng-container>
            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef>Логин</th>
                <td mat-cell *matCellDef="let element"> {{element.login}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Действия</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="warn" (click)="blockUser(element.id)" *ngIf="element.state != 'Blocked';else unblocked" class="actionButton">Заблокировать</button>
                    <ng-template #unblocked>
                        <button mat-stroked-button color="primary" (click)="unblock(element.id)" class="actionButton">Разблокировать</button>
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator 
        [length]="users.count" 
        [pageSizeOptions]="[5,10,20]"
        (page)="changePage($event)"></mat-paginator>
</ng-container>
<spinner *ngIf="(isLoading$ | async)"></spinner>