.form-control {
    display: flex;
    flex-direction: column;

    button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-self: flex-start;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.default-title {
    margin: 1rem 0;
}

.header{
    display: flex;
    justify-content: space-between;
}

.answers {
    margin-top: .3rem;
}

.createTest {
    margin: .6rem;
}

.editButton {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.options {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 12vw;
}
.deleteButton {
    margin-left: .3rem;
}

.nav {
    display: flex;
    justify-content: flex-end;

    button {
        margin: 1rem;
    }
}