.tab-group {
    margin-top: 1.5rem;
}

.common-info-content{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem
}
.mat-column-name {
   width: 20vw;
}

.mat-column-surname {
    width: 20vw;
}
