<div class="page-container">
    <div class="nav">
        <button mat-button class="menu-button" (click)="sidenav.toggle()">
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
        <ul>
            <li *ngIf="(currentUser$ | async) as user">
                {{user.login}}
            </li>
            <li (click)="logout()">
                Выйти
            </li>
        </ul>
    </div>
    <div class="sidenav-container">
        <mat-sidenav-container class="mat-sidenav-container">
            <mat-sidenav
                #sidenav
                autoFocus="false"
                mode="over"
                [(opened)]="isMenuOpen"
                class="sidenav">
                    <ul class="sidenav-content">
                        <li routerLinkActive="active">
                            <a [routerLink]="['manage-tests']"
                                (click)="sidenav.toggle()"
                                >
                                <mat-icon color="primary">description</mat-icon>
                                Мои тесты
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['manage-groups']" (click)="sidenav.toggle()">
                                <mat-icon color="primary">account_circle</mat-icon>
                                Мои группы
                            </a>
                        </li>
                    </ul>
            </mat-sidenav>

            <mat-sidenav-content>
                <mat-card class="teacher-panel">
                    <mat-card-content class="content">
                        <router-outlet></router-outlet>
                    </mat-card-content>
                </mat-card>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
