<div class="container">
    <div class="nav">
        <h2>Учебка</h2>
        <ul>
            <li>
                <a [routerLink]="['manage-tests']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    Мои тесты
                </a>
            </li>
            <li>
                <a [routerLink]="['manage-groups']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    Мои группы
                </a>
            </li>
            <li>
                <a (click)="logout()">Выйти</a>
            </li>
        </ul>
    </div>
    <div>
        <mat-card class="admin-panel">
            <mat-card-content class="content">
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </div>
</div>