<table-title title="Мои ученики"></table-title>
<ng-container *ngIf="(students$ | async) as students">
    <div class="table-container content">
        <table mat-table [dataSource]="students.data">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Имя</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef>Фамилия</th>
                <td mat-cell *matCellDef="let element"> {{element.surname}}</td>
            </ng-container>
            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef>Почта</th>
                <td mat-cell *matCellDef="let element"> {{element.login}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row 
                *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
    </div>
    <mat-paginator 
        [length]="students.count" 
        [pageSizeOptions]="[10, 15]"
        (page)="changePage($event)"></mat-paginator>
</ng-container>

<spinner *ngIf="isLoading$ | async"></spinner>