@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "../node_modules/font-awesome/scss/font-awesome.scss";      
@import '~quill/dist/quill.snow.css';       

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto";
}
ul {
    list-style: none;
    
    li{
        display: block;
    }
}

.container {
    min-width: 1200;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.end {
        justify-content: flex-end;
    }

    &.start {
        justify-content: flex-start;
    }

    &.center {
        justify-content: center;
    }
}

.main-color {
    color: #3f51b5;
}
table {
    width: 100%;
}
.table-container {
    position: relative;
    max-height: 50vh;
    overflow: auto;
}

.table-container-min {
    position: relative;
    max-height: 40vh;
    overflow: auto;
}

tr[mat-row] {
cursor: pointer;
    &:hover{
        background: whitesmoke;
    }
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
  

