<mat-horizontal-stepper>
    <mat-step>
        <form [formGroup]="titleGroup">
            <ng-template matStepLabel>Введите название группы</ng-template>
            <mat-form-field>
                <mat-label>Название группы</mat-label>
                <input matInput formControlName="title" required/>
            </mat-form-field>
            <div>
                <button mat-stroked-button color="primary" matStepperNext [disabled]="titleGroup.invalid">Дальше</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form [formGroup]="teacherForm">
            <ng-template matStepLabel>Выбор преподавателя</ng-template>
            <div class = "filter">
                <mat-form-field>
                    <mat-label>Имя преподавателя</mat-label>
                    <input matInput formControlName="name" required/>
                </mat-form-field>
                <mat-form-field>  
                    <mat-label>Фамилия преподавателя</mat-label>
                    <input matInput formControlName="surname" required/>
                </mat-form-field>    
            </div>
            <ng-container *ngIf="(teachers | async) as teachers">
                <table mat-table [dataSource]="teachers" class="table">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Имя</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
                        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="login">
                        <th mat-header-cell *matHeaderCellDef>Логин</th>
                        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-container>
            <div>
                <button mat-stroked-button color="primary" matStepperNext [disabled]="titleGroup.invalid">Дальше</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>