<mat-horizontal-stepper #stepper linear (selectionChange)="stepChanged($event)">
    <mat-step [stepControl]="groupTitleForm"> 
        <form [formGroup]="groupTitleForm">
            <ng-template matStepLabel>Введите название группы</ng-template>
            <mat-form-field>
                <mat-label>Название группы</mat-label>
                <input matInput formControlName="title" required/>
            </mat-form-field>
            <div>
                <button mat-stroked-button color="primary" matStepperNext [disabled]="groupTitleForm.invalid">Дальше</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="selectedTeacherForm">
        <ng-template matStepLabel>Выбор преподавателя</ng-template>
            <form [formGroup]="filterTeacherForm" (ngSubmit)="applyFilter()">
                <mat-form-field class="form-control">
                    <mat-label>Имя</mat-label>
                    <input matInput formControlName="name"/>
                </mat-form-field>
                <mat-form-field class="form-control">  
                    <mat-label>Фамилия</mat-label>
                    <input matInput formControlName="surname"/>
                </mat-form-field>
                <button mat-stroked-button color="primary" type="submit" class="form-control">Искать</button>
            </form>    
        <ng-container *ngIf="(teachers | async) as teachers">
            <div class="table-container-min">
                <table mat-table [dataSource]="teachers.data" class="table">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Имя</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
                        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="login">
                        <th mat-header-cell *matHeaderCellDef>Логин</th>
                        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedTeachersColumns"></tr>
                    <tr mat-row 
                        *matRowDef="let row; columns: displayedTeachersColumns;"
                        [class.selectedTeacher]="row.id === selectedTeacherForm.get('id').value"
                        (click)="selectTeacher(row)"></tr>
                </table>
            </div>
            <mat-paginator 
                [length]="teachers.count" 
                [pageSizeOptions]="[5,10,20]"
                (page)="changeTeacherPage($event)"></mat-paginator>
            <div class="nextButton">
                <button mat-stroked-button color="primary" matStepperNext [disabled]="selectedTeacherForm.invalid">Дальше</button>
            </div>
        </ng-container>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Выбор студентов</ng-template>
        <ng-container *ngIf="(students | async) as students">
        <div class="table-container-min">
            <table mat-table [dataSource]="students.data">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox 
                            (click)="$event.stopPropagation()"
                            (change)="updateSelectedStudents(row.id)"
                            [checked]="chechStudentInSelectStudents(row.id)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Имя студента</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef>Фамилия студента</th>
                    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                </ng-container>
                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef>Логин</th>
                    <td mat-cell *matCellDef="let element"> {{element.login}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedStudentsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedStudentsColumns;"
                    (click)="updateSelectedStudents(row.id)">
                </tr>
            </table>
        </div>
        <mat-paginator 
            [length]="students.count" 
            [pageSizeOptions]="[5,10]"
            (page)="changeStudentPage($event)"
        ></mat-paginator>
        <div class="nextButton">
            <button mat-stroked-button color="primary" (click)="createGroup()" [disabled]="selectStudentsForm.invalid">Создать группу</button>
        </div>
    </ng-container>
    </mat-step>
</mat-horizontal-stepper>