.filter {
    display: flex;
    justify-content: space-between;
}

.form-control {
    margin: .5rem;
}

.selectedTeacher {
    font-weight: bold;;
}

.nextButton {
    display: flex;
    justify-content: flex-end;
    margin: 0.3rem;
}